<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	                    http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.1.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	<!-- 修改超级活动中 公益项目符合条件的数据状态 -->  
    <bean name="activityTask"  
       class="org.springframework.scheduling.quartz.JobDetailBean">  
        <property name="jobClass" value="com.hc.ems.module.task.ActivityTask" />  
    </bean> 
    <!-- 触发器 -->  
    <bean id="activityTrigger"  
        class="org.springframework.scheduling.quartz.CronTriggerBean">  
       <!-- 指向我们的任务 -->  
        <property name="jobDetail" ref="activityTask" />  
       <!--  每天晚上1点执行 -->  
        <property name="cronExpression" value="0 0 1 * * ?" />  
    </bean>  
    
    <!-- 删除5分钟之前所有sign数据 -->  
    <bean name="signTask"  
       class="org.springframework.scheduling.quartz.JobDetailBean">  
        <property name="jobClass" value="com.hc.ems.module.task.SignTask" />  
    </bean> 
    <!-- 触发器 -->  
    <bean id="signTrigger"  
        class="org.springframework.scheduling.quartz.CronTriggerBean">  
       <!-- 指向我们的任务 -->  
        <property name="jobDetail" ref="signTask" />  
       <!--  5分钟执行一次 -->  
        <property name="cronExpression" value="0 0/5 * * * ?" />  
    </bean>  
    
    <!-- 删除当月之前所有SMSVote数据 -->  
    <bean name="phoneVoteTask"  
       class="org.springframework.scheduling.quartz.JobDetailBean">  
        <property name="jobClass" value="com.hc.ems.module.task.PhoneVoteTask" />  
    </bean> 
    <!-- 触发器 -->  
    <bean id="voteTrigger"  
        class="org.springframework.scheduling.quartz.CronTriggerBean">  
       <!-- 指向我们的任务 -->  
        <property name="jobDetail" ref="phoneVoteTask" />  
       <!--  每月1号0:15执行一次 -->  
        <property name="cronExpression" value="0 15 0 1 * ?" />  
    </bean>  
    
    <!-- 每天2点更新奖池 -->  
    <bean name="lotteryTask"  
       class="org.springframework.scheduling.quartz.JobDetailBean">  
        <property name="jobClass" value="com.hc.ems.module.task.LotteryTask" />  
    </bean> 
    <!-- 触发器 -->  
    <bean id="lotteryTrigger"  
        class="org.springframework.scheduling.quartz.CronTriggerBean">  
       <!-- 指向我们的任务 -->  
        <property name="jobDetail" ref="lotteryTask" />  
       <!--  每月1、15号早上2点执行 --> 
        <property name="cronExpression" value="0 0 2 * * ?" />  
         
    </bean>  
    
    <!-- 每月1号，结算上个月区域站长收入 -->
    <bean name="masterSettleTask" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass" value="com.hc.ems.module.task.MasterSettlementTask"/>
    </bean>
    <!-- 触发器 -->
    <bean id="masterSettleTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<!-- 指向我们的任务 -->  
    	 <property name="jobDetail" ref="masterSettleTask" />  
        <!--  每月1号0:30执行一次 -->  
        <property name="cronExpression" value="0 30 0 1 * ?" />  
        <!-- <property name="cronExpression" value="0 0/5 * * * ?" />   -->
    </bean>
    
    <!-- 调度器  -->  
    <bean  
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
<!--                 <ref bean="signTrigger" /> -->
            </list>  
       </property>  
    </bean>  
</beans>  